{% load static %}
  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Multicopias</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/LogoMulticopias.jpg' %}">
    
        <!-- App css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'plugins/sweet-alert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'plugins/animate/animate.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


       

      



         <!-- DataTables -->
         <link href="{% static 'plugins/datatables/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
         <link href="{% static 'plugins/datatables/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
         <!-- Responsive datatable examples -->
         <link href="{% static 'plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" /> 


         <script src="{% static '/plugins/sweet-alert2/sweetalert2.min.js' %}"></script>
         <script src="{% static 'assets/pages/jquery.sweet-alert.init.js' %}"></script>

         <script src="{% static '../plugins/apex-charts/apexcharts.min.js' %}"></script>
         <script src="{% static 'assets/pages/jquery.projects_overview.init.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>


    