
{% extends "base.html" %}


{% load static %}

{% load humanize %}


{% block content %}

    </head>

    <body>
        <!-- Left Sidenav -->
        {% include 'menu.html' %}  
        <!-- end left-sidenav-->
        

        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">            
                <!-- Navbar -->
                <nav class="navbar-custom">    
                    <ul class="list-unstyled topbar-nav float-end mb-0">  
                        <li class="dropdown hide-phone">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="search" class="topbar-icon"></i>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-end dropdown-lg p-0">
                                <!-- Top Search Bar -->
                              
                            </div>
                        </li>                      

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i data-feather="bell" class="align-self-center topbar-icon"></i>
                                <span class="badge bg-danger rounded-pill noti-icon-badge">2</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">
                            
                                <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">
                                    Notifications <span class="badge bg-primary rounded-pill">2</span>
                                </h6> 
                                <div class="notification-menu" data-simplebar>
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-end text-muted ps-2">2 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="shopping-cart" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate">
                                                <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing and industry.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-end text-muted ps-2">10 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="{% static 'assets/images/users/user-4.jpg' %}" alt="" class="thumb-sm rounded-circle">
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate">
                                                <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-end text-muted ps-2">40 min ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">                                                    
                                                <i data-feather="users" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate">
                                                <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-end text-muted ps-2">1 hr ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <img src="{% static 'assets/images/users/user-5.jpg' %}" alt="" class="thumb-sm rounded-circle" >
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate">
                                                <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>
                                                <small class="text-muted mb-0">It is a long established fact that a reader.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                    <!-- item-->
                                    <a href="#" class="dropdown-item py-3">
                                        <small class="float-end text-muted ps-2">2 hrs ago</small>
                                        <div class="media">
                                            <div class="avatar-md bg-soft-primary">
                                                <i data-feather="check-circle" class="align-self-center icon-xs"></i>
                                            </div>
                                            <div class="media-body align-self-center ms-2 text-truncate">
                                                <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>
                                                <small class="text-muted mb-0">Dummy text of the printing.</small>
                                            </div><!--end media-body-->
                                        </div><!--end media-->
                                    </a><!--end-item-->
                                </div>
                                <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                                    View all <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>

                                <span class="ms-1 nav-user-name hidden-sm"></span>
                         
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href=""> Hola, {{ user.username }}</a>
                                <a class="dropdown-item" href="/cerrar_sesion/"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i>Cerrar Sesión</a>
                             
                            </div>
                        </li>
                    </ul><!--end topbar-nav-->
        
                    <ul class="list-unstyled topbar-nav mb-0">                        
                        <li>
                            <button class="nav-link button-menu-mobile">
                                <i data-feather="menu" class="align-self-center topbar-icon"></i>
                            </button>
                        </li> 
                        <li class="creat-btn">

                            <div class="nav-link">
                               
                                <button type="button" class="btn btn-sm btn-soft-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLogin">
                                    <i class="fas fa-plus me-2">  Agregar producto</i>
                                </button>
                               <a href="/ventas/"> <button type="button" class="btn btn-sm btn-soft-success">
                                    <i class="fas fa-plus me-2"> Nueva Venta</i>
                                </button></a>
                            </div>                                
                        </li>                           
                    </ul>
                </nav>
                <!-- end navbar-->
            </div>
            <!-- Top Bar End -->

            <!-- Page Content-->
            <div class="page-content">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="page-title">Inventario</h4>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a class="text-danger" href="http://127.0.0.1:8000">MulticopiasLa12</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0);">Gestión</a></li>
                                            <li class="breadcrumb-item active">Inventario</li>
                                        </ol>
                                    </div><!--end col-->
                                   <!--end col-->  
                                </div><!--end row-->                                                              
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div><!--end row-->
                    <!-- end page title end breadcrumb -->
                    <!-- end row -->

                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-2">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col">
                                            <p class="text-dark mb-1 font-weight-semibold">Total Venta</p>
                                            <h3 class="m-0">{{valor_total|intcomma }}  </h3>
                                            <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i></span>26 Project Complete</p>
                                        </div>
                                        <div class="col-auto align-self-center">
                                            <div class="report-main-icon bg-light-alt">
                                                <i data-feather="layers" class="align-self-center text-muted icon-md"></i>  
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end card-body--> 
                            </div><!--end card--> 
                        </div> <!--end col--> 
                        <div class="col-md-6 col-lg-2">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">                                                
                                        <div class="col">
                                            <p class="text-dark mb-1 font-weight-semibold">Valor Compra</p>
                                            <h3 class="m-0"> {{valor_compra_total|intcomma }}  </h3>
                                            <p class="mb-0 text-truncate text-muted"><span class="badge badge-soft-success">Active</span> Weekly Avg.Sessions</p>
                                        </div>
                                        <div class="col-auto align-self-center">
                                            <div class="report-main-icon bg-light-alt">
                                                <i data-feather="check-square" class="align-self-center text-muted icon-md"></i>  
                                            </div>
                                        </div> 
                                    </div>
                                </div><!--end card-body--> 
                            </div><!--end card--> 
                        </div> <!--end col-->                         
                        <div class="col-md-6 col-lg-2">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col">  
                                            <p class="text-dark mb-1 font-weight-semibold">Neto</p>                                         
                                            <h3 class="m-0">{{neto|intcomma }} </h3>
                                            <p class="mb-0 text-truncate text-muted"><span class="text-muted">01:33</span> / 
                                                <span class="text-muted">9:30</span>  Duration</p>
                                        </div>
                                        <div class="col-auto align-self-center">
                                            <div class="report-main-icon bg-light-alt">
                                                <i data-feather="clock" class="align-self-center text-muted icon-md"></i>  
                                            </div>
                                        </div> 
                                    </div>
                                </div><!--end card-body--> 
                            </div><!--end card--> 
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col">  
                                            <p class="text-dark mb-1 font-weight-semibold">Neto C/U</p>                                         
                                            <h3 class="m-0">${{netoCU|intcomma }}  </h3>
                                            <p class="mb-0 text-truncate text-muted"><span class="text-muted">01:33</span> / 
                                                <span class="text-muted">9:30</span>  Duration</p>
                                        </div>


                                        
                                        <div class="col-auto align-self-center">
                                            <div class="report-main-icon bg-light-alt">
                                                <i data-feather="clock" class="align-self-center text-muted icon-md"></i>  
                                            </div>
                                        </div> 
                                    </div>
                                </div><!--end card-body--> 
                            </div><!--end card--> 
                        </div> <!--end col--> 
                        <div class="col-md-6 col-lg-2">
                            <div class="card report-card">
                                <div class="card-body">
                                    <div class="row d-flex justify-content-center">                                                
                                        <div class="col">
                                            <p class="text-dark mb-1 font-weight-semibold">Productos Sin Stock</p>
                                            <h3 class="m-0">{{total_tallas_cero|intcomma }}  </h3>
                                            <p class="mb-0 text-truncate text-muted"><span class="text-dark"> </span> Total used budgets</p>
                                        </div>
                                        <div class="col-auto align-self-center">
                                            <div class="report-main-icon bg-light-alt">
                                                <i data-feather="dollar-sign" class="align-self-center text-muted icon-md"></i>  
                                            </div>
                                        </div> 
                                    </div>
                                </div><!--end card-body--> 
                            </div><!--end card--> 
                        </div> <!--end col-->                               
                    </div><!--end row-->

                    
    
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Gestión De Stock</h4>
<p class="text-muted mb-0">
    Como usuario del sistema de gestión de stock, usted tendrá un control completo y eficiente sobre su inventario:
    <ul>
        <li><strong>Registro de productos:</strong> Podrá dar de alta nuevos productos en su inventario, así como dar de baja los productos que ya no estén disponibles.</li>
        <li><strong>Actualización de inventario:</strong> Podrá actualizar la cantidad de productos en su inventario cuando adquiera nuevos productos o realice ventas.</li>
        <li><strong>Seguimiento de productos:</strong> Será capaz de estar al tanto de los productos que estén por agotarse, lo que le permitirá reponer su inventario a tiempo y evitar perder ventas.</li>
        <li><strong>Análisis de ventas:</strong> Podrá analizar sus ventas para identificar qué productos se venden bien y cuáles no, lo que le ayudará a tomar decisiones informadas sobre futuras compras.</li>
        <li><strong>Alertas de stock bajo:</strong> El sistema le alertará cuando los niveles de stock de un producto estén bajos, permitiéndole reordenar a tiempo.</li>
    </ul>
</p>


                                    


                                    <div class="modal fade" id="exampleModalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultSignup" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title m-0" id="exampleModalDefaultSignup">Agregar Productos</h6>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div><!--end modal-header-->
                                                <div class="modal-body">
                                                    <div class="auth-page">
                                                        <div class="auth-card">
                                                            <div class="">
                                                                <div class="px-3">
                                                                    <div class="auth-logo-box text-center">
                                                                        <a href="analytics-index.html" class="logo logo-admin"><img src="{% static  'assets/images/LogoMulticopias.jpg' %}" height="40" alt="logo" class="auth-logo"></a>
                                                                    </div><!--end auth-logo-box-->
    
                                                                    <div class="text-center auth-logo-text">
                                                                        <h4 class="mt-0 m2-3 mt-3">MulticopiasLa12</h4>
                                                                        <p class="text-muted mb-0">Rellena el Formulario.</p>  
                                                                    </div> <!--end auth-logo-text-->  
                                                                    {{error}}
                                                                    <form class="form-horizontal auth-form my-4" method="POST" action="/registro/">
                                                                        {% csrf_token %}
                                                                        
                                                                        
        
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="username">Fecha</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="date" class="form-control" id="fecha"name="fecha">
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="username">Stock Talla S</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="text" class="form-control" id="descripcion" name="stock_talla1" placeholder="indique nombre de producto"> 
                                                                                    </div>
                                                                                </div><!--end form-group-->
                                                                        
                                                                                <div class="form-group">
                                                                                    <label for="useremail">Stock Talla XL</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="number" class="form-control"name="stock_talla4" id="useremail" placeholder="indique cantidad ">
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <!--end form-group-->
                                                                            </div>


                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="username">Nombre</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="text" class="form-control" id="fecha"name="nombre">
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="username">Stock Talla M</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="text" class="form-control" id="descripcion" name="stock_talla2" placeholder="indique cantidad"> 
                                                                                    </div>
                                                                                </div><!--end form-group-->
                                                                        
                                                                                <div class="form-group">
                                                                                    <label for="useremail">Valor</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="number" class="form-control"name="valor" id="useremail" placeholder="No poner ','' ni ''.' ">
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <!--end form-group-->
                                                                            </div>
                                                                        
                                                                            <div class="col-md-4">
                                                                                <div class="form-group">
                                                                                    <label for="userpassword">Valor Compra</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="number" class="form-control" id="userpassword" name="valor_compra"  placeholder="No poner ','' ni ''.'" >
                                                                                    </div>
                                                                                </div><!--end form-group-->
                                                                        
                                                                                <div class="form-group">
                                                                                    <label for="conf_password">Stock TallaL</label>
                                                                                    <div class="input-group mb-3">
                                                                                        <input type="number" class="form-control" id="conf_password" name="stock_talla3" placeholder="No poner ','' ni ''.'">
                                                                                    </div>
                                                                                </div>
                                                                        
                                                                               <!--end form-group-->
                                                                                
                                                                            </div>
                                                                            
                                                                        </div><!--end form-group--> 
                                            
                                                                        <div class="form-group row mt-4">
                                                                            <div class="col-sm-12">
                                                                                <div class="custom-control custom-switch switch-success">
                                                                                    
                                                                                    
                                                                                </div>
                                                                            </div><!--end col-->                                             
                                                                        </div><!--end form-group--> 
                                            
                                                                        <div class="form-group mb-0 row">
                                                                            <div class="col-12 mt-2">
                                                                                <button class="btn btn-primary btn-rounded btn-block" type="submit">Register <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                                            </div><!--end col--> 
                                                                        </div> <!--end form-group-->                           
                                                                    </form><!--end form-->
                                                                </div><!--end /div-->
                                                               
                                                            </div><!--end card-body-->
                                                        </div><!--end card-->                                                        
                                                    </div><!--end auth-page-->                                                    
                                                </div><!--end modal-body-->
                                                
                                            </div><!--end modal-content-->
                                        </div><!--end modal-dialog-->
                                    </div><!--end modal-->
                                </div><!--end card-body-->
                            </div><!--end card-->                            
                        </div> <!-- end col -->  <!--end modal-->
                                   




                                </div><!--end card-header-->
                                <div class="card-body">  
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                        <thead>
                                         
                                        <tr>
                                            <th>#</th>
                                            <th>Fecha</th>
                                            <th>Nombre</th>
                                            <th class="text-center">Talla-Cantidad</th>
                                            <th>Valor</th>
                                            <th>Valor Compra</th>
                                            <th>Sub compras</th>
                                            <th>Guardado por:</th>
                                            <th>Acciones</th>
                                        </tr>
                                      
                                        </thead>
    
    
                                        <tbody>
                                            {% for producto in productos %}
                                                <tr>
                                                    <td> {{ producto.id }}  {% if producto.stock_talla1 == 0 or producto.stock_talla2 == 0 or producto.stock_talla3 == 0 or producto.stock_talla4 == 0 %}
                                                        <i class="fas fa-exclamation-triangle"></i>
                                                        {% endif %}</td>
                                                    <td>{{ producto.fecha|date:"d \d\e F \d\e Y" }}
                                                    </td>
                                                    <td>{{ producto.nombre }}</td>
                                                    <td class="text-center">
                                                       
                                                        <span class="badge {% if producto.stock_talla1 == 0 %}bg-danger{% else %}bg-primary{% endif %} rounded-pill">S - {{ producto.stock_talla1 }} </span>
                                                        <span class="badge {% if producto.stock_talla2 == 0 %}bg-danger{% else %}bg-success{% endif %} rounded-pill">M - {{ producto.stock_talla2 }} </span>
                                                        <span class="badge {% if producto.stock_talla3 == 0 %}bg-danger{% else %}bg-secondary{% endif %} rounded-pill">L - {{ producto.stock_talla3 }} </span>
                                                        <span class="badge {% if producto.stock_talla4 == 0 %}bg-danger{% else %}bg-warning{% endif %} rounded-pill">XL - {{ producto.stock_talla4 }} </span>
                                                    </td>
                                                    
                                                    <td>{{ producto.valor|intcomma }}</td>
                                                    <td>{{ producto.valor_compra|intcomma  }}</td>
                                                    <td>{{ producto.subcompras|intcomma  }}</td>
                                                    <td>{{ producto.user.username }}</td>
                                                    <td> <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#editar{{ producto.id }}"> <i class="fas fa-edit"></i>
</i></button>
                                                        

                                                    
                                                   
                                                       
                                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{ producto.id }}"><i class="fas fa-trash"></i>
                                                        </button>

                                                      
                                                        {% include 'borrar_modal.html' %}
                                                        {% if messages %}


                                                    
                                                    {%for m in messages%}
                                                    
                                                    <script>
                                                        Swal.fire({
                                                            icon: 'success',
                                                            title: '{{m}}' ,
                                                            toast: true,
                                                            position: 'top-end',
                                                            showConfirmButton: false,
                                                            timer: 3000
                                                        });
                                                    </script>
                                                     
                                                    {% endfor %}
                                                      
                                                    {% endif %}
                                                        
                                                        
                                                    </td>
                                                </tr>
                                       
                                             {% include 'editar_modal.html' %}
                                             
                                             {% endfor %}

                                     
                                        </tbody>
                                    </table>        
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                  

               

                <footer class="footer text-center text-sm-start">
                    &copy; <script>
                        document.write(new Date().getFullYear())
                    </script> Dastone <span class="text-muted d-none d-sm-inline-block float-end"> <i
                            class="mdi mdi-heart text-danger"></i> by MulticopiasLa12</span>
                </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

        


        <!-- jQuery  -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/metismenu.min.js' %}"></script>
<script src="{% static 'assets/js/waves.js' %}"></script>
<script src="{% static 'assets/js/feather. min.js' %}"></script>
<script src="{% static 'assets/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/moment.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>


<script src="{% static 'plugins/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'plugins/jvectormap/jquery-jvectormap-us-aea-en.js' %}"></script>

<!-- Required datatable js -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
<script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables/buttons.colVis.min.js' %}"></script>
<!-- Responsive examples -->
<script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/pages/jquery.datatable.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

        
        {% endblock %}
    </body>

</html>